# Database (SQLite - local file)
DATABASE_URL="file:./dev.db"

# Admin Authentication
JWT_SECRET="your-secure-random-string-min-32-characters"

# Site URL (your domain)
NEXT_PUBLIC_SITE_URL="https://houseofgul.com"
